-- Create a new database called 'Cine'
-- Connect to the 'master' database to run this snippet
USE [master]
GO
/****** Object:  Database [Cine]    Script Date: 29/3/2024 12:54:52 ******/
CREATE DATABASE [Cine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cine', FILENAME = N'D:\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cine_log', FILENAME = N'D:\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cine]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[idA] [int] IDENTITY(1,1) NOT NULL,
	[NombreA] [varchar](100) NULL,
 CONSTRAINT [PK_Actor] PRIMARY KEY CLUSTERED 
(
	[idA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Butaca]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Butaca](
	[idB] [int] IDENTITY(1,1) NOT NULL,
	[idS] [int] NOT NULL,
 CONSTRAINT [PK_Butaca] PRIMARY KEY CLUSTERED 
(
	[idB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ButacasReservadas]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ButacasReservadas](
	[idP] [int] NOT NULL,
	[idS] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[Ci] [char](11) NOT NULL,
	[idB] [int] NOT NULL,
 CONSTRAINT [PKReserva] PRIMARY KEY CLUSTERED 
(
	[idP] ASC,
	[idS] ASC,
	[fecha] ASC,
	[Ci] ASC,
	[idB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Ci] [char](11) NOT NULL,
	[Confiabilidad] [bit] NULL,
	[Correo] [varchar](256) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Ci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[idP] [int] NOT NULL,
	[idS] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[Ci] [char](11) NOT NULL,
	[idPg] [int] NOT NULL,
	[Tipo] [varchar](50) NULL,
	[FechaDeCompra] [datetime] NOT NULL,
	[MedioAd] [varchar](50) NULL,
 CONSTRAINT [PKCompra] PRIMARY KEY CLUSTERED 
(
	[idP] ASC,
	[idS] ASC,
	[fecha] ASC,
	[Ci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Descontado]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Descontado](
	[idP] [int] NOT NULL,
	[idS] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[Ci] [char](11) NOT NULL,
	[idD] [int] NOT NULL,
 CONSTRAINT [PKDescontado] PRIMARY KEY CLUSTERED 
(
	[idP] ASC,
	[idS] ASC,
	[fecha] ASC,
	[Ci] ASC,
	[idD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Descuento]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Descuento](
	[idD] [int] IDENTITY(1,1) NOT NULL,
	[NombreD] [varchar](30) NULL,
	[Porciento] [float] NULL,
 CONSTRAINT [PK_Descuentos] PRIMARY KEY CLUSTERED 
(
	[idD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Efectivo]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efectivo](
	[idPg] [int] NOT NULL,
	[CantidadE] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Elenco]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Elenco](
	[idP] [int] NOT NULL,
	[idA] [int] NOT NULL,
 CONSTRAINT [PKelenco] PRIMARY KEY CLUSTERED 
(
	[idP] ASC,
	[idA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[idG] [int] IDENTITY(1,1) NOT NULL,
	[NombreG] [varchar](30) NULL,
 CONSTRAINT [PK_Genero] PRIMARY KEY CLUSTERED 
(
	[idG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[idP] [int] NOT NULL,
	[idG] [int] NOT NULL,
 CONSTRAINT [PKgeneros] PRIMARY KEY CLUSTERED 
(
	[idP] ASC,
	[idG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[idPg] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[idPg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[idP] [int] IDENTITY(1,1) NOT NULL,
	[Sinopsis] [text] NULL,
	[Anno] [int] NULL,
	[Nacionalidad] [int] NULL,
	[Duración] [int] NULL,
	[Titulo] [varchar](50) NULL,
	[Imagen] [text] NULL,
	[Trailer] [text] NULL,
 CONSTRAINT [PK_Pelicula] PRIMARY KEY CLUSTERED 
(
	[idP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puntos]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puntos](
	[idPg] [int] NOT NULL,
	[Gastados] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[idS] [int] IDENTITY(1,1) NOT NULL,
	[Capacidad] [int] NULL,
 CONSTRAINT [PK_Sala] PRIMARY KEY CLUSTERED 
(
	[idS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sesion]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesion](
	[idP] [int] NOT NULL,
	[idS] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PKsesion] PRIMARY KEY CLUSTERED 
(
	[idP] ASC,
	[idS] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarjeta]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjeta](
	[codigoT] [char](18) NOT NULL,
	[Ci] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigoT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Ci] [char](11) NOT NULL,
	[NombreS] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL,
	[Puntos] [int] NULL,
	[Codigo] [char](11) NULL,
	[Contrasena] [binary](256) NULL,
	[Rol] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Web]    Script Date: 29/3/2024 12:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Web](
	[idPg] [int] NOT NULL,
	[codigoT] [char](18) NULL,
	[Cantidad] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ButacasReservadas]  WITH CHECK ADD FOREIGN KEY([idB])
REFERENCES [dbo].[Butaca] ([idB])
GO
ALTER TABLE [dbo].[ButacasReservadas]  WITH CHECK ADD FOREIGN KEY([idP], [idS], [fecha], [Ci])
REFERENCES [dbo].[Compra] ([idP], [idS], [fecha], [Ci])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([idP], [idS], [fecha])
REFERENCES [dbo].[Sesion] ([idP], [idS], [fecha])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([Ci])
REFERENCES [dbo].[Cliente] ([Ci])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([idPg])
REFERENCES [dbo].[Pago] ([idPg])
GO
ALTER TABLE [dbo].[Descontado]  WITH CHECK ADD FOREIGN KEY([idP], [idS], [fecha], [Ci])
REFERENCES [dbo].[Compra] ([idP], [idS], [fecha], [Ci])
GO
ALTER TABLE [dbo].[Descontado]  WITH CHECK ADD FOREIGN KEY([idD])
REFERENCES [dbo].[Descuento] ([idD])
GO
ALTER TABLE [dbo].[Efectivo]  WITH CHECK ADD FOREIGN KEY([idPg])
REFERENCES [dbo].[Pago] ([idPg])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Elenco]  WITH CHECK ADD FOREIGN KEY([idA])
REFERENCES [dbo].[Actor] ([idA])
GO
ALTER TABLE [dbo].[Elenco]  WITH CHECK ADD FOREIGN KEY([idP])
REFERENCES [dbo].[Pelicula] ([idP])
GO
ALTER TABLE [dbo].[Generos]  WITH CHECK ADD FOREIGN KEY([idG])
REFERENCES [dbo].[Genero] ([idG])
GO
ALTER TABLE [dbo].[Generos]  WITH CHECK ADD FOREIGN KEY([idP])
REFERENCES [dbo].[Pelicula] ([idP])
GO
ALTER TABLE [dbo].[Puntos]  WITH CHECK ADD FOREIGN KEY([idPg])
REFERENCES [dbo].[Pago] ([idPg])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sesion]  WITH CHECK ADD FOREIGN KEY([idP])
REFERENCES [dbo].[Pelicula] ([idP])
GO
ALTER TABLE [dbo].[Sesion]  WITH CHECK ADD FOREIGN KEY([idS])
REFERENCES [dbo].[Sala] ([idS])
GO
ALTER TABLE [dbo].[Tarjeta]  WITH CHECK ADD FOREIGN KEY([Ci])
REFERENCES [dbo].[Cliente] ([Ci])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([Ci])
REFERENCES [dbo].[Cliente] ([Ci])
GO
ALTER TABLE [dbo].[Web]  WITH CHECK ADD FOREIGN KEY([codigoT])
REFERENCES [dbo].[Tarjeta] ([codigoT])
GO
ALTER TABLE [dbo].[Web]  WITH CHECK ADD FOREIGN KEY([idPg])
REFERENCES [dbo].[Pago] ([idPg])
ON UPDATE CASCADE
GO
USE [master]
GO
