@model Backend.Models.Descuento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Descuento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdD" />
            <div class="form-group">
                <label asp-for="NombreD" class="control-label"></label>
                <input asp-for="NombreD" class="form-control" />
                <span asp-validation-for="NombreD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Porciento" class="control-label"></label>
                <input asp-for="Porciento" class="form-control" />
                <span asp-validation-for="Porciento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

