.search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
  }
  
  .search-bar form {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar button {
    padding: 8px 12px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }
  