/* SearchBar.css */
.search-bar {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura de la pantalla completa */
    transition: height 0.5s ease; /* Transición suave */
  }
  
  .search-bar form {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar button {
    padding: 8px 12px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }
  
  .search-bar.searched {
    height: auto; /* Establecemos la altura automática después de la búsqueda */
  }
  
  .loading-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 4px;
  }
  